.card-list {
    flex: 0 0 33.333%;
    justify-content: center;
    display: inherit;
    align-items: center;
    margin-bottom: 10px;
}

.card-group {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}
@media only screen and (max-width: 620px) {
    .card-list {
        flex: 0 0 100%;
    }
  }
  @media only screen and (max-width: 900px) and (min-width: 621px) {
    .card-list {
        flex: 0 0 50%;
    }
  }
  @media only screen and (min-width: 1400px) {
    .card-list {
        flex: 0 0 25%;
    }
  }